.constructions {
  min-height: 100vh;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1285px;
    width: 100%;
    min-height: 100vh;
    padding: 60px 0px 60px 0px;
  }

  &__title-box {
    width: 100%;
    @media (max-width:1360px){
      padding: 0px 40px 0px 40px;
    }
  }
  &__title {
    margin: 0 0 50px 0;
  }

  &__sliders-box {
    display: flex;
    height: 100%;
    width: 100%;
    @media (max-width: 1360px) {
      flex-direction: column;
      padding: 0px 40px 0px 40px;
    }
  }

  &__slider-small-box {
    flex: 0 0 200px;
    width: 200px;
    margin: 0px 30px 0px 0px;
    min-height: 300px;
    overflow: hidden;
    // position: relative;
    // z-index: 2;
    @media (max-width: 1360px) {
      flex: 1 1 auto;
      width: 90vw;
      min-height: 50px;
    }
  }

  &__slider-small {
    position: relative;
    // &:before {
    //   content: "";
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    //   background: rgb(255, 255, 255);
    //   background: linear-gradient(180deg, rgba(255, 255, 255, 0.9990246376294768) 0%, rgba(255, 255, 255, 0) 100%);
    //   z-index: 1;
    // }
    .slick-track {
      max-width: 200px;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      @media (max-width: 1360px) {
        flex-direction: row;
        max-width: 90vw;
        min-height: 50px;
      }
    }
  }

  &__slide-small {
    &.slick-current {
      .small-slide__data {
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        color: $blue;
      }
      .small-slide__time {
        display: block;
      }
    }
  }

  &__slider-big-box {
    // flex: 1 0 auto;
    // width: 100%;
  }

  &__slider-big {
    .slick-arrow {
      position: absolute;
      // top: calc(100% - 40px);
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      font-size: 0;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
      border: 1px solid #f2f2f2;
      z-index: 2;
      transition: $tr;
      @media (min-width: $md2+px) {
        &:hover {
          border: 1px solid #809eeb;
          // background-color: $red;
          box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.25);
        }
      }
    }
    .slick-prev {
      background-image: url("../img/constructions/arrow_prev_icon.svg");
      @media (min-width: $md2+px) {
        &:hover {
          background-image: url("../img/constructions/arrow_prev_icon_act.svg");
          box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.25);
        }
      }
    }
    .slick-next {
      left: 41px;
      background-image: url("../img/constructions/arrow_next_icon.svg");
      @media (min-width: $md2+px) {
        &:hover {
          background-image: url("../img/constructions/arrow_next_icon_act.svg");
          box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  &__slide-big {
  }
}

.small-slide {
  margin: 0px 0px 15px 0px;
  &__data {
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #1a1b1f;
    margin: 0px 0px 5px 0px;
  }

  &__time {
    display: none;
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: $bluelight;
  }
}
.big-slide {
  // width: 100%;
  // max-width: 60vw;
  &__inner {
    // height: 100%;
    width: 60vw;
  }
  &__bg {
    height: 100%;
  }
  &__row {
    display: flex;
  }

  &__column-content {
    flex: 1 1 auto;
    max-width: 805px;
    display: flex;
    align-items: flex-end;

    // width: 100%;
    // height: 100%;
    @media (max-width: 1500px) {
      max-width: 705px;
    }
    @media (max-width: 1360px) {
      max-width: 1000px;
    }

    source,
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__content {
    // position: relative;
    // bottom: 0;
    // left: 0;
    z-index: 1;
    max-width: 345px;
    padding: 65px 15px 65px 15px;
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: auto 0px 0px 0px;
    @media (max-width: 1360px) {
      padding: 35px 15px 65px 15px;
    }
  }

  &__label {
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: $blue;
    overflow: hidden;
  }

  &__title {
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #1a1b1f;
    margin: 25px 0px 25px 0px;
    overflow: hidden;
  }

  &__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 160%;
    color: #1a1b1f;
    overflow: hidden;
  }

  &__column-info {
    flex: 0 0 270px;
    width: 270px;
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 32px 43px;
    margin: 0px 0px 0px 45px;
  }

  &__info-cell {
  }
}
.info-cell {
  margin: 0px 0px 25px 0px;
  &:last-child {
    margin: 0px 0px 0px 0px;
  }
  &__info {
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: $blue;
    overflow: hidden;
    span {
      color: #1a1b1f;
    }
    source,
    img {
      display: none;
    }
    &._done {
      span {
        color: $blue;
      }
      source,
      img {
        display: inline-block;
        width: 6px;
        height: 8px;
        margin-top: auto;
      }
    }
  }

  &__progress-box {
    width: 100%;
    height: 3px;
    background-color: #e0e0e0;
    margin: 20px 0px 0px 0px;
  }

  &__progress-line {
    height: 3px;
    background-color: $blue;
  }
}
