.header {
  position: fixed;
  // position: relative;
  // position: sticky;
  top: 0px;
  left: 0;
  width: 100vw;
  // height: 106px;
  z-index: 50;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  padding-top: 15px;
  padding-bottom: 15px;
  transition: $tr;
  @media (max-width: 1360px) {
    height: 91px;
  }
  @media (max-width: 1124px) {
    height: 61px;
  }
  @media (max-width: 1124px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  // &__body {
  //   position: fixed;
  //   width: 100%;
  //   border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  //   padding-top: 15px;
  //   padding-bottom: 15px;
  //   transition: $tr;
  //   @media (max-width: 1124px) {
  //     padding-top: 10px;
  //     padding-bottom: 10px;
  //   }
  // }
  &__content {
    // position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0px 32px 0px 32px;
  }

  &__column {
    display: flex;
    align-items: center;
    height: 75px;
    &:nth-child(1) {
      @media (max-width: 1365px) {
        max-width: 490px;
      }
    }
    &:nth-child(2) {
      // padding-right: 40px;
      flex: 1 0 auto;
      justify-content: flex-end;
      @media (max-width: 1970px) {
        padding-right: 40px;
      }
      @media (max-width: 1885px) {
        padding-right: 90px;
      }
      @media (max-width: 1795px) {
        padding-right: 150px;
      }
      @media (max-width: 1665px) {
        padding-right: 190px;
      }
      @media (max-width: 1200px) {
        padding-right: 80px;
      }
      @media (max-width: 1124px) {
        padding-right: 40px;
      }
    }
    // &:nth-child(1){}
    @media (max-width: 1366px) {
      height: 60px;
    }
    @media (max-width: 1124px) {
      height: 40px;
    }
  }

  &__logo {
    display: block;
    position: relative;
    z-index: 50;
    // height: 100%;
  }
  &__logo svg {
    fill: #ffffff;
    transition: $tr;
  }

  // &__logo._white svg {
  //   fill: $blue;
  // }

  &__lang {
    display: flex;
    align-items: center;
    margin: 17px 60px 0px 60px;
    transition: $tr;

    @media (max-width: 1124px) {
      margin: 10px 20px 0px 30px;
    }
    @media (max-width: 1023px) {
      display: none;
    }
    a {
      font-family: "Mabry Pro";
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      margin: 0px 7px 0px 7px;
      color: #ffffff;
      opacity: 0.5;
      transition: $tr;
      &._active {
        opacity: 1;
      }
      @media (min-width: $md2+px) {
        &:hover {
          transform: scale(1.1);
          color: $redhover;
        }
      }
    }
  }

  &__phone {
    font-family: "Mabry Pro";
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    white-space: nowrap;
    transition: $tr;
    @media (min-width: $md2+px) {
      &:hover {
        transform: scale(1.1);
        color: $redhover;
      }
    }
    @media (max-width: 880px) {
      display: none;
    }
  }

  &__button {
    margin: 0px 0px 0px 75px;
    @media (max-width: 1350px) {
      margin: 0 60px 0 20px;
    }
    @media (max-width: 1023px) {
      margin: 0px 45px 0px 45px;
    }
    @media (max-width: 665px) {
      display: none;
    }
  }

  &__menu-title {
    position: absolute;
    top: 45px;
    right: 120px;

    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    // margin: 0px 80px 0px 0px;
    transition: $tr;

    @media (max-width: 1366px) {
      top: 38px;
    }
    @media (max-width: 1250px) {
      display: none;
    }
  }

  &__menu {
  }
}

//====================================================================================================
.menu {
  height: 0px;
  width: 0;
  &__body._active {
    display: block;
    opacity: 1;
    visibility: visible;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    overflow-y: hidden;
    background-color: rgba(26, 27, 31, 0.7);
    transition: all 0.5s ease 0s;

    // &:before {
    //   content: "";
    //   position: absolute;
    //   top: 106px;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    background-color: #1a1b1f;
    // }
  }

  &__body {
    display: block;
    // width: 0;
    // height: 60px;
    // display: none;
    opacity: 0;
    visibility: hidden;
    padding: 106px 0px 0px 0px;
    height: 100%;
    @media (max-width: 1124px) {
      padding: 61px 0px 0px 0px;
    }
    @media (max-width: 420px) {
      padding: 70px 0px 0px 0px;
    }
    @media (max-height: 420px) {
      padding: 61px 0px 0px 0px;
    }
  }

  &__container {
    display: flex;
    height: 100%;
    @media (max-height: 420px) {
      overflow-y: auto;
    }
  }

  &__links-box {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 100px;
    @media (max-width: 1500px) {
      margin: 50px 0px 50px 100px;
    }
    @media (max-width: 1360px) {
      margin: 50px 0px 50px 50px;
    }
    @media (max-width: 765px) {
      margin: 50px 50px 100px 50px;
    }
    @media (max-width: 350px) {
      margin: 20px 35px 100px 35px;
    }
    @media (max-height: 420px) {
      margin: 0px 35px 0px 35px;
      padding: 80px 0px 0px 0px;
    }
  }

  &__list {
    &--flex {
      display: flex;
      li + li {
        margin: 0px 0px 0px 47.5px;
      }
    }
  }

  &__link {
    display: inline-block;
    font-family: "Mabry Pro";
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.05em;
    font-size: 24px;
    line-height: 24px;
    margin: 0px 0px 47.5px 0px;
    transition: $tr;
    @media (max-width: 1360px) {
      font-size: 20px;
      margin: 0px 0px 25px 0px;
    }
    @media (min-width: $md2+px) {
      &:hover {
        color: $semi;
      }
    }
    @media (max-width: 420px) {
      font-size: 18px;
      line-height: 18px;
    }
    @media (max-width: 350px) {
      font-size: 14px;
      line-height: 14px;
      margin: 0px 0px 20px 0px;
    }
  }

  &__lists-box {
    display: flex;
    align-items: center;
    margin: 0px 0px 60px 0px;
    @media (max-width: 1360px) {
      flex-direction: column;
      align-items: flex-start;
      margin: 0px 0px 20px 0px;
    }
  }

  &__slider {
    width: 405px;
    // height: 1000px;
    // background-color: #fff;

    // animation: appear 3s linear;
    // animation-delay: 3s;
    // animation-iteration-count: 1;
    @media (max-width: 765px) {
      width: 0;
      height: 0;
      display: none;
    }
  }

  &__slider-inner {
  }
}
// @keyframes appear {
//   from {
//     opacity: 0;
//     width: hidden;
//   }
//   to {
//     opacity: 1;
//     width: visible;
//   }
// }
.big-link {
  font-size: 72px;
  line-height: 72px;
  @media (max-width: 1360px) {
    font-size: 65px;
    line-height: 65px;
  }
  @media (max-width: 420px) {
    font-size: 55px;
    line-height: 55px;
  }
  @media (max-width: 350px) {
    font-size: 45px;
    line-height: 45px;
  }
  @media (max-height: 420px) {
    padding: 235px 0 0 0;
  }
}
.semi-big-link {
  font-size: 64px;
  line-height: 64px;
  margin: 22.5px 110px 70px 0px;
  @media (max-width: 1360px) {
    font-size: 55px;
    line-height: 55px;
    margin: 0px 50px 50px 0px;
  }
  @media (max-width: 765px) {
    margin: 0px 0px 50px 0px;
  }
  @media (max-width: 420px) {
    font-size: 44px;
    line-height: 44px;
  }
  @media (max-width: 350px) {
    font-size: 32px;
    line-height: 32px;
  }
}
.middle-link {
  font-size: 36px;
  line-height: 36px;
  @media (max-width: 1360px) {
    font-size: 30px;
    line-height: 30px;
  }
  @media (max-width: 420px) {
    font-size: 28px;
    line-height: 28px;
  }
  @media (max-width: 350px) {
    font-size: 22px;
    line-height: 22px;
  }
}
.small-link {
  font-size: 18px;
  line-height: 18px;
  @media (max-width: 1360px) {
    font-size: 16px;
    line-height: 16px;
  }
}
.header {
  &__column-second-row {
  }

  &__socials {
  }
}
.header .socials {
  max-width: 200px;
  @media (max-height: 420px) {
    padding: 0px 0px 30px 0px;
  }
  &__label {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.5);
  }

  &__box {
  }

  &__link {
  }
}

.menu-slider {
  height: 100%;
  // overflow-y: auto;
  margin: 0px 40px 0px 40px;

  .slick-track {
    flex-wrap: wrap;
    max-height: 225px;
    min-height: 225px;
    max-width: 325px;
    @media (max-width: 1023px) {
      max-height: 200px;
      min-height: 200px;
      max-width: 300px;
    }
  }
  &__item {
    width: 325px;
    height: 225px;
    margin: 15px 0px 15px 0px;
    @media (max-width: 1023px) {
      width: 300px;
      height: 200px;
    }
  }

  &__inner {
    width: 325px;
    height: 225px;
    padding: 20px 15px;
    @media (max-width: 1023px) {
      width: 300px;
      height: 200px;
    }
  }

  &__info-row {
    position: relative;
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
  }

  &__data {
    flex: 0 0 44px;
    width: 44px;
    height: 44px;
    background: $blue;
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 3px 0px;
    span {
      font-family: "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 8px;
      line-height: 9px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__label {
    height: 100%;
    flex: 1 0 auto;
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.05em;
    color: #ffffff;
    background: rgba(26, 27, 31, 0.9);
    padding: 0px 15px 0px 15px;
    display: flex;
    align-items: center;
    transition: $tr;
    cursor: pointer;
    @media (min-width: $md2+px) {
      &:hover {
        color: $blue;
        background: rgba(255, 255, 255, 0.9);
      }
    }
  }
}

//Burger
.icon-menu {
  display: block;
  position: absolute;
  top: 50%;
  right: 40px;
  // left: 90%;
  transform: translateY(-50%);
  width: 36px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
  span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    &:first-child {
      top: 0px;
    }
    &:last-child {
      top: auto;
      bottom: 0px;
    }
  }
  &._active {
    span {
      transform: scale(0);
      &:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
        background-color: $redhover;
      }
      &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
        background-color: $redhover;
      }
    }
  }
}

// _white =============================================================
._white-header .header,
.header._scroll,
.header._white {
  // position: sticky;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: $tr;

  .header__logo svg {
    transition: $tr;
    fill: $blue;
  }
  .header__lang a {
    color: #000000;
  }
  .header__lang a {
    &:hover {
      @media (min-width: $md2+px) {
        color: #000000;
        opacity: 1;
      }
    }
  }

  .header__phone {
    color: #000000;
  }

  .header__menu-title {
    color: #000000;
  }

  .header__menu {
  }
  .icon-menu span {
    background-color: hsl(0, 0%, 0%);
  }
  .icon-menu._active span {
    background-color: $redhover;
  }
  .icon-menu span:nth-child(2) {
    display: none;
  }
}

// _lock =======================
._lock {
  .header._scroll {
    .header__logo svg {
      fill: #ffffff;
    }

    .header__lang a {
      color: #ffffff;
      z-index: 1;
    }
    .header__phone {
      color: #ffffff;

      z-index: 1;
    }
    .header__button {
      color: #ffffff;

      z-index: 1;
    }
    .header__menu-title {
      color: #ffffff;

      z-index: 1;
    }
  }
  .header {
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: hsla(0, 0%, 100%, 0.5);
      z-index: 1;
    }
    .header__logo svg {
      fill: #ffffff;
    }

    .header__lang a {
      color: #ffffff;
      z-index: 1;
    }
    .header__phone {
      color: #ffffff;

      z-index: 1;
    }
    .header__button {
      color: #ffffff;

      z-index: 1;
    }
    .header__menu-title {
      color: #ffffff;

      z-index: 1;
    }
  }
}
