.lucky {
  &__content {
    height: calc(100vh - 100px);
    @media (max-width: 1366px) {
      height: calc(100vh - 60px);
    }
    @media (max-width: 1124px) {
      height: calc(100vh - 40px);
    }
    // @media (max-width: $md3+px) {
    //   height: calc(100vh - 30px);
    // }
    // @media (max-width: $md4+px) {
    //   height: calc(100vh - 20px);
    // }
  }

  &__tabs {
    position: relative;
    width: 100%;
    // min-height: 100vh;
    display: flex;
    height: calc(100vh - 100px);

    @media (max-width: 1366px) {
      height: calc(100vh - 60px);
    }
    @media (max-width: 1124px) {
      height: calc(100vh - 40px);
    }
    // @media (max-width: $md3+px) {
    //   height: calc(100vh - 30px);
    // }
    // @media (max-width: $md4+px) {
    //   height: calc(100vh - 20px);
    // }
  }

  &__tabs-items-box {
    // min-height: 100vh;
    height: 100%;
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 145px 0px 40px;
    margin: 0 0 0 auto;
  }

  &__title-box {
    max-width: 285px;
    margin: 0px 10px;
  }

  &__title {
    margin: 0px 0px 75px 0px;
  }

  &__tabs-items {
  }

  &__tabs-item {
    display: flex;
    width: 285px;
    height: 52px;
    margin: 0px 10px 10px 10px;
    text-align: center;
    color: $blue;
    background-color: #fff;
    transition: $tr;
    @media (min-width: $md2+px) {
      cursor: pointer;
    }
    &._active {
      background-color: $blue;
      color: #fff;
      box-shadow: 0px 25px 15px -15px rgba(0, 0, 0, 0.25);
      .lucky__tabs-item-img {
        border-right: 2px solid #fff;
      }
      .lucky__tabs-item-text {
        border: 2px solid $blue;
      }
    }
  }

  &__tabs-item-img {
    width: 60px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $blue;
    img,
    source {
      max-width: 100%;
    }
  }

  &__tabs-item-text {
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-bottom: 2px solid $blue;
    padding: 0px 0px 0px 30px;
  }

  &__tabs-blocks {
    width: 63%;
  }

  &__tabs-block {
    position: relative;
    height: 100%;
  }
  &__tabs-block_img {
    height: 100%;
    img,
    source {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: cover;
    }
  }
}
