.storey__row-test {

}
.storey__column-test {
  display: flex;
}
.img-storey__img-test{
  display: flex;
  svg{
    
  }
}

.storey__img-title-test{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.storey-descr--test{
  width: auto;
}