.storey {
  min-height: 100vh;
  padding: 120px 0px 20px 0px;
  display: flex;
  align-items: center;
  @media (max-width: 1366px) {
    // padding: 80px 0px 0px 0px;
  }
  @media (max-width: 1124px) {
    // padding: 60px 0px 0px 0px;
  }
  // @media (max-hight: 515px) {
  //   height: 100%;
  //   flex-direction: column;
  //   align-items: center;
  // }
  // @media (max-width: $md3+px) {
  //   height: 100%;
  //   // flex-direction: column;
  //   // align-items: center;
  // }

  &__container {
    width: 100%;
  }

  &__row {
    // width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    @media (max-width: 1650px) {
      margin: 0px 40px 0px 40px;
    }
    @media (max-width: 1023px) {
      flex-direction: column;
    }
    @media (max-width: 550px) {
      margin: 0px 20px 0px 20px;
    }
  }

  &__column {
    &:nth-child(1) {
      flex: 1 1 auto;
    }
    &:nth-child(2) {
      flex: 0 1 490px;
      max-width: 490px;
      @media (max-width: 1023px) {
        flex: 0;
        max-width: 590px;
        width: 100%;
        margin: 40px auto 0;
      }
    }
  }

  &__img-block {
    border-right: 1px solid #bdbdbd;
    @media (max-width: 1023px) {
      border-right: none;
      border-bottom: 1px solid #bdbdbd;
    }
  }

  &__description-block {
  }
}

.storey-img {
  &__crumbs {
  }

  &__row {
  }
}
.crumbs {
  display: flex;
  li + li {
    margin: 0px 0px 45px 45px;
    @media (max-width: 650px) {
      margin: 0px 0px 25px 25px;
    }
  }
  &__item {
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #4f4f4f;
    @media (max-width: 1365px) {
      font-size: 17px;
    }
  }

  &__item._active {
    color: $blue;
  }
}
.img-storey {
  display: flex;
  margin: 30px 55px 30px 0px;
  @media (max-width: 1400px) {
    margin: 30px 35px 30px 0px;
  }
  @media (max-width: 1250px) {
    flex-wrap: wrap;
    margin: 0px 35px 30px 0px;
  }
  @media (max-width: 1023px) {
    margin: 0px 0px 30px 0px;
  }
  &__info {
    height: 100%;
    max-width: 125px;
    flex: 0 0 125px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 50px 30px;
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
    box-shadow: 15px 25px 45px -15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    @media (max-width: 1365px) {
      flex: 0 1 125px;
      justify-content: space-between;
    }
    @media (max-width: 1250px) {
      flex: 0 0 70%;
      max-width: 70%;
      margin: 0 auto 40px;
      padding: 20px 30px;
    }
    @media (max-width: 650px) {
      flex: 0 0 90%;
      max-width: 90%;
    }
    @media (max-width: 450px) {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 20px 20px;
    }
  }

  &__info-box {
    @media (max-width: 1250px) {
      margin: 0px 0px 0px 0px;
    }
    @media (max-width: 1250px) {
      margin: 0px 10px 0px 10px;
    }
  }
  &__info-box + .img-storey__info-box {
    margin: 45px 0px 0px 0px;
    @media (max-width: 1250px) {
      margin: 0px 0px 0px 45px;
    }
    @media (max-width: 650px) {
      margin: 0px 10px 0px 10px;
    }
  }

  &__info-box-num {
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: $blue;
    margin: 0px 0px 15px 0px;
    white-space: nowrap;
    span {
      position: relative;
      top: -5px;
      font-size: 10px;
    }
    @media (max-width: 1365px) {
      font-size: 16px;
    }
    @media (max-width: 650px) {
      font-size: 14px;
    }
  }

  &__info-box-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
    color: rgba(26, 27, 31, 0.5);
    @media (max-width: 650px) {
      font-size: 12px;
    }
  }

  &__img {
    // flex: 1 0 auto;
    margin: 0px 50px 0px 50px;
    position: relative;
    height: 100%;

    @media (max-width: 1365px) {
      flex: 1 1 auto;
    }
    @media (max-width: 1250px) {
      flex: 0 0 70%;
      margin: 0px 0px 0px 0px;
    }
    @media (max-width: 1023px) {
      flex: 1 1 calc(90% - 80px);
    }
    @media (max-width: 450px) {
      flex: 1 0 100%;
      width: 100%;
    }
  }
  &__img-bg {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 100%;
    svg,
    img,
    source {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      height: 375px;
      // display: block;
      // margin: 0 auto;
      // width: 100%;
      // max-height: 100%;
      // max-width: 100%;
      // z-index: -1;
    }
  }

  &__img-small {
    max-width: 150px;
    min-width: 80px;
    flex: 0 1 150px;
    @media (max-width: 1250px) {
      max-width: 120px;
      margin: 0px 0px 0px 20px;
    }
    @media (max-width: 1023px) {
      max-width: 60px;
      margin: 0px 0px 0px 20px;
    }
    @media (max-width: 450px) {
      display: none;
      width: 0;
      height: 0;
    }
    img,
    source {
      display: block;
      max-width: 100%;
    }
  }
}
.storey-descr {
  height: 100%;
  width: 100%;
  padding: 0px 40px 0px 70px;
  @media (max-width: 1400px) {
    padding: 0px 40px 0px 50px;
  }
  @media (max-width: 450px) {
    padding: 0px 0px 0px 0px;
  }
  &__label {
    font-family: "Mabry Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: #1a1b1f;
    margin: 0px 0px 15px 0px;
    @media (max-width: 1365px) {
      font-size: 24px;
    }
    @media (max-width: 650px) {
      font-size: 22px;
    }
  }

  &__crumbs {
  }

  &__table {
  }

  &__button {
    width: 100%;
    margin: 35px 0px 35px 0px;
    @media (max-width: 1365px) {
      height: 60px;
    }
  }
}
.descr-crumbs {
  display: flex;
  font-family: "Mabry Pro";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin: 0px 0px 50px 0px;
  @media (max-width: 1365px) {
    font-size: 16px;
  }
  @media (max-width: 650px) {
    margin: 0px 0px 20px 0px;
  }
  @media (max-width: 450px) {
    font-size: 15px;
  }
  &__item {
    // padding: 0px 15px 0px 0px;
    position: relative;
    &:first-child {
      margin: 0px 38px 0px 0px;
      &:after {
        content: "/";
        position: absolute;
        left: calc(100% + 15px);
        color: $blue;
      }
    }
    &:nth-child(2) {
      margin: 0px 38px 0px 0px;
      &:after {
        content: "/";
        position: absolute;
        left: calc(100% + 15px);
        color: $red;
      }
    }
    &--floor {
      color: #1a1b1f;
    }

    &--flat {
      color: rgba(26, 27, 31, 0.5);
    }

    &--sold {
      color: $red;
    }
  }
}
.descr-table {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  color: #1a1b1f;
  @media (max-width: 1365px) {
    font-size: 14px;
  }
  @media (max-width: 650px) {
    font-size: 12px;
  }
  &__row {
    display: flex;
    margin: 0px 0px 15px 0px;
  }

  &__left {
    flex: 0 0 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__right {
    flex: 0 0 60%;
    padding: 0px 0px 0px 20px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
