@import "mixins";

@import "fonts";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

$fontFamily: "Roboto";

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1595;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$blue: #003dd6;
$bluelight: #809eeb;
$red: #d53030;
$semi: #809eeb;
$tr: all 0.5s ease;
$bluehover: #054bfd;
$redhover: #ff4b4b;

@import "null";
body {
  color: #000000;
  font-size: 14px;
  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
}

@import "forms";
@import "ui";
@import "popup";
@import "header";
@import "footer";
@import "home";
@import "test_about";
@import "docs_licence";
@import "test_thanks";

@import "iframe";